@charset "UTF-8";

* {
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}
body {
	background-image: url(../img/grid.gif);
	text-align: center;
}
#button {
	display: table; 
	margin: 20px auto;
	width: 200px;
	height: 40px;
	border: 2px solid #333;
	border-radius: 10px;
	background-color: #d66;
	color: #fff;
	text-align: center;
	font-size: 28px;
	cursor: pointer;
}

#button > div {
	display: table-cell;
	vertical-align: middle;
}

#display {
	margin: 10px auto;
	padding: 5px;
	width: 300px;
	background-color: #fff;
	text-align: left;
}
